:root {
    --primary-color: #192961; /*Delft Blue*/
    --secondary-color: #E4572E; /*Flame*/
    --accent1-color: #EFEDE6; /*Alabaster*/
    --accent2-color: #BFCFEE; /*Periwinkle*/
    --heading-font: "Lexend", sans-serif;
    --body-font: "Kantumruy Pro ", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: right;
    text-decoration: none;
    margin: 5px 2px;
}

.hero {
    position: relative;
}

.hero image {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #000; /*dark text - make sure there is enough contrast with the background-color */
}

p {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

article {
    position: absolute;
    bottom: 20px;
    width: 60%;
    padding: 16px;
    text-align: left;
    opacity: 0.8;
    background-color: var(--accent2-color);
}

article p {
    color: #000; /*dark text - make sure there is enough contrast with the background-color */
}

.hero article img {
    float: right;
    width: 125px;
}

