:root {
    --primary-color: #192961; /*Delft Blue*/
    --secondary-color: #E4572E; /*Flame*/
    --accent1-color: #EFEDE6; /*Alabaster*/
    --accent2-color: #BFCFEE; /*Periwinkle*/
    --heading-font: "Lexend", sans-serif;
    --body-font: "Kantumruy Pro ", sans-serif;
}

