:root {
    --primary-color: #192961; /*Delft Blue*/
    --secondary-color: #E4572E; /*Flame*/
    --accent1-color: #EFEDE6; /*Alabaster*/
    --accent2-color: #BFCFEE; /*Periwinkle*/
    --heading-font: "Lexend", sans-serif;
    --body-font: "Kantumruy Pro ", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 140px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: var(--primary-color);
    max-width: 1000px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    font-family: var(--accent1-color);
    background-color: var(--accent1-color);
}

.navigation li {
    flex: 1 1 auto;
}

.navigation li a {
    display: block;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    padding: 15px 15px 15px 50px;
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: 1.2rem;
    font-weight: 400;
}

.navigation a:hover {
    color: var(--secondary-color);
    font-weight: 700;
    text-decoration: underline;
}

.milogo {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    padding-top: 5px;
    height: auto;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero image {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #000; /*dark text - make sure there is enough contrast with the background-color */
}

p {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

article {
    position: absolute;
    bottom: 10px;
    width: 40%;
    padding: 16px 12px 8px 10px;
    text-align: left;
    opacity: 0.7;
    background-color: var(--accent2-color);
}

article p {
    color: #000; /*dark text - make sure there is enough contrast with the background-color */
}

.hero article img {
    float: right;
    width: 125px;
}

